fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.9
PyMuPDF==1.23.26
pdfplumber==0.10.4
opencv-python==4.9.0.80
Pillow==10.2.0
bangla-pdf-ocr
sentence-transformers
chromadb
pytesseract
transformers
torch
indic-nlp-library
groq
python-dotenv
regex
numpy<2
layoutparser[layoutmodels]
streamlit
requests