fastapi 
uvicorn 
pymupdf 
pytesseract 
pillow 
python-multipart 
sentence-transformers 
opencv-python-headless 
numpy
chromadb
groq
bangla
pdfplumber


fastapi 
uvicorn[standard] 
chromadb 
sentence-transformers 
pymupdf 
pdfplumber 
bangla-pdf-ocr 
python-dotenv 
groq 
opencv-python 
pillow